*{
    margin:0;
    padding:0;
}
img{
    width: 100%;
}
ui,li{
    list-style: none;
}
body,html{
    height: 100%;
}

.pic-show{
    margin-right: 10px;
}
.pic-show img {
    width: 100%;
}
.movie-detail{
    vertical-align: top;

}
.movie-detail p {
    font-size: 15px;
    color: #666;
    line-height: 30px;
    width: 180px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.movie-detail h2 {
    font-size: 18px;
    line-height: 40px;
    width: 180px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.content-container{
    width: 100%;
    overflow: auto;
    position: absolute;
    top:95px;
    bottom:52px;
}
